@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

body {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, blue, purple);
}

.header {
    color: #dda2dd;
    display: flex;
    justify-content: space-between;
  }
  
  .header h1 {
    margin: 0;
  }
  
  .header ul {
    display: flex;
    /* gap: 5px; */
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .header ul li {
    padding: 40px;
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }

.name {
    padding: 40px;
  }
  main {
    display: flex;
    justify-content: space-between;
  }

  .selfie {
    /* border-radius: 50%; */
    padding: 200px;
    /* padding-left: 100px; */
    padding-top: 100px;
    width: 390px;
    height: 450px;
  }

  #abt-me {
    animation: fadeIn 2s ease-in-out;
    color: #dda2dd;
    padding: 100px;
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
    width: 50%;
  }
 .about {
    color: #add8e6;
    flex-direction: column;
  }

  p, h2 {
    padding-left: 40px;
    margin: 10px; /* top right bottom left */
    animation: fadeIn 2s ease-in-out;
  }
  #projects {
    animation: fadeIn 2s ease-in-out;
    color: #dda2dd;
    /* padding: 50px; */
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
    width: 100%;
  }

  h6 {
    color: #add8e6;
  }
  img {
    animation: fadeIn 2s ease-in-out;
  }

  .skills {
    animation: fadeIn 2s ease-in-out;
    color: #dda2dd;
    display: flex;
    /* justify-content: space-between; */
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
    width: 90%;
    justify-content: space-around;
  }

  .skills ul {
    display: flex;
    justify-content: space-around;
    text-align: justify;
    list-style-type: none;
  }

  .skills ul li{
    display: flex;
    gap: 5px;
    justify-content: space-around;
    text-align: justify;
    list-style-type: none;
  }

  .contact {
    animation: fadeIn 2s ease-in-out;
    color: #dda2dd;
    padding: 50px;
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
    width: 100%;
  }